<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
      margin: 0;
      padding: 0;
    }
    header {
      height: 100px;
      text-align: center;
      line-height: 100px;
      font-size: 2rem;
    }
    nav {
      width: 1000px;
      height: 50px;
      background: yellowgreen;
      border-radius: 10px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      padding-left: 20px;
      box-sizing: border-box;
    }
    nav li {
      list-style: none;
      line-height: inherit;
    }
    nav li a {
      text-decoration: none;
      color: #000;
      
    }
    section {
      width: 1000px;
      height: 400px;
      border: 1px solid black;
      margin: 25px auto;
      display: flex;
      flex-wrap: wrap;

    }
    img {
      width: 200px;
      height: 200px;
    }
    .test {
      width: 200px;
      height: 200px;
      background: crimson;
    }
  </style>
</head>
<body>
  <header>이미지 컨테이너</header>
  <nav><li><a href="./upload">사진 업로드</a></li></nav>
  
  <section>
    <% for(let i = 0; i < imageFile.length; i++){ %>
      <img src="image/<%= imageFile[i].url%>" alt="images">
    <% } %>
   
  </section>
  
</body>
</html>